<?xml version="1.0"?>
<robot name="cylinder" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="humanRadius" value="0.1"/>
  <xacro:property name="humanHeight" value="1.7"/>
  <xacro:property name="humanMass" value="100"/>
  <!-- <xacro:property name="initialPosX" value="1"/> -->


  <!-- <xacro:include filename="$(find cylinder)/urdf/cylinder.gazebo" /> -->
  <xacro:include filename="$(find cylinder)/urdf/materials.xacro" />
  <xacro:include filename="$(find cylinder)/urdf/macros.xacro" />





  <link name="footprint"/>
    <!-- <pose relative_to="world">2 0 0 0 0 0</pose>
  </link> -->


  <!-- <joint name="base_joint" type="continuous">
    <axis xyz="0 0 0"/>
    <parent link="world"/>
    <origin rpy="0 0 0" xyz="1 0 0"/>
    <child link="human"/>
    <dynamics damping="0.1"/>
  </joint> -->
  <joint name="base_joint" type="fixed">
    <!-- <axis xyz="0 0 0"/> -->
    <parent link="footprint"/>
    <origin rpy="0 0 0" xyz="1 0 0"/>
    <child link="human"/>
    <!-- <dynamics damping="0.1"/> -->
  </joint>


  <link name='human'>
    <!-- <pose>3 4 4 4 4 2</pose> -->
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="${humanRadius}" length="${humanHeight}"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="${humanRadius}" length="${humanHeight}"/>
      </geometry>
      <material name="green"/>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="${humanMass}"/>
      <xacro:cylinder_inertia m="${humanMass}" r="${humanRadius}" h="${humanHeight}"/>
    </inertial>
  </link>

  <gazebo reference="human">
    <material>Gazebo/Green</material>
  </gazebo>


</robot>
